[submodule "hitobito_glp"]
	path = hitobito_glp
	branch = master
	url = https://github.com/hitobito/hitobito_glp.git
[submodule "hitobito"]
	path = hitobito
	branch = master
	url = https://github.com/hitobito/hitobito.git
